# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  node: circleci/node@5.0.0
  aws-ecr: circleci/aws-ecr@7.3.0

jobs:
  test:
    working_directory: ~/source/server
    docker:
      - image: cimg/node:12.16
    steps:
      - checkout:
          path: ~/source
      - run:
          name: "Install dependencies"
          command: "npm install"
      - run:
          name: "Compile Typescript Backend"
          command: "npm run build"
      - run:
          name: "Run Tests"
          command: "npm test"

workflows:
  build_and_push_server_image:
    jobs:
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          create-repo: true
          dockerfile: Dockerfile
          no-output-timeout: 20m
          path: ~/source/server
          region: AWS_REGION
          repo: AWS_ECR_REPO_NAME
          skip-when-tags-exist: false
          tag: "latest"
